// Color
@color-theme: #22597e;
@color-gray-dark: #777;
@color-gray-light: #eee;

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(245,245,245);
}
