@import './meta.less';

// Style
body {
  font-family: @font-sans;
  background-color: rgb(245,245,245);
}

h1 {
  color: @color-theme;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.main-container {
  padding-top: 75px;
}

.button-border {
  display: inline-block;
  padding: 0.25em 1.5em; 
  border: 1px solid @color-theme;
  border-radius: 4px;
  margin: 1em;
  font-family: @font-serif;
  .transition(all, 0.2s);

  &:hover {
    background-color: @color-theme;
    color: #fff;
  }
}

.button-bold {
  display: inline-block;
  margin: 5px 10px;

  .transition(all, 0.2s);

  &:hover {
    border-bottom: 3px solid @color-theme;
  }
}