// This file contains all global CSS rules
// Be very careful when adding new rules in here!!!
@import './meta.less';

.App-logo {
  width: 180px;
  height: 31px;
  background: #00a2ff;  
  margin: 16px 24px 16px 16px;
  float: left;
}

.App-background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../assets/images/background.jpg);
  background-position: center;
  filter: blur(20px);
}

.App-Layout {
  min-height: 100vh;
}

.Layout-Header {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 20px 0 gray;
}

.Layout-Footer {
  color: #fff;
}

.Layout-Content {
  position: relative;
  padding: 50px;
}

.App-tile {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  .transition(all, 0.3s);
  
  &:hover {
    box-shadow: 0 0 15px @color-gray;
  }
}
