// This file contains all global CSS rules
// Be very careful when adding new rules in here!!!
@import './meta.less';

// Style
body {
  font-family: @font-sans;
  background-color: rgb(245,245,245);
}

.App-logo {
  width: 180px;
  height: 31px;
  background: red;  
  margin: 16px 24px 16px 0;
  float: left;
}