// This file contains all global CSS rules
// Be very careful when adding new rules in here!!!
@import '../theme.less';

img {
  max-width: 100%;
}

.App-background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../assets/images/background.jpg);
  background-position: center;
  filter: blur(10px);
}

.App-logo {
  width: 180px;
  height: 31px;
  background: @primary-color;  
  margin: 16px 24px 16px 0;
  float: left;
}

.App-Layout {
  min-height: 100vh;
}

.App-Header {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 20px 0 gray;
}

.App-Content {
  position: relative;
  padding: 25px 50px;
}

.App-Footer {
  color: #fff;
}

.App-tile {
  margin: 7px;
  padding: 20px;
  background-color: #fff;
  border-radius: @border-radius-l;
  border: 1px solid @color-gray-light;
  .transition(box-shadow, 0.2s);

  &:hover {
    box-shadow: 0 0 15px 0 @color-gray;
  }
}
