@import '../../theme.less';

.Teachers {
  margin-top: -50px;
  margin-left: -50px;
  margin-bottom: -50px;
}

.Teachers-Content {
  margin-left: 50px;
}

.placeholder-img {
  width: 80px;
  height: 80px;
  background-color: gray;
  border-radius: 7px;
  display: inline-block;
}

.Teachers-teacher {
  background-color: #fff;
}

.Teachers-profile {
  text-align: center;
  margin-right: 30px;
  width: 100px;

  strong {
    color: @primary-color; 
  }
}

.Teachers-info {
  flex: 1;

  button {
    float: right;
  }
}

.Teachers-intro {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid @color-gray-light;
}

.Teachers-active {
  float: right;
  opacity: 0.7 ;
}