@import '../../theme.less';

.Teachers {
  margin-top: -50px;
  margin-left: -50px;
  margin-bottom: -50px;
}

.Teachers-Content {
  margin-left: 50px;
}

.Teachers-teacher {
  background-color: #fff;
  height: 180px;
  cursor: pointer;
}

.Teachers-profile {
  text-align: center;
  margin-right: 30px;
  width: 100px;

  img {
    width: 75px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  strong {
    color: @primary-color; 
  }
}

.Teachers-info {
  flex: 1;

  button {
    float: right;
  }

  p {
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 10px;
    border-top: 1px solid @color-gray-light;
    max-height: 6em;
    font-size: 0.95em;
  }

  h5 {
    float: right;
    opacity: 0.6 ;
    font-size: 11px;
  }
}
