// This project's UI is powered by Ant Design: https://ant.design/index-cn
// This is the global theme configuration for antd
// The whole reference is at here:
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// Colors
@primary-color: #039999;
@color-gray-dark: #777;
@color-gray: #aaa;
@color-gray-light: #eee;

// Layout
@layout-body-background: #f8f8f8;
@border-radius-l: 10px;

// Header
@layout-header-background: #fff;

// Footer
@layout-footer-background: @primary-color;
@layout-footer-padding: 16px 50px;

// Button
@btn-height-lg: 50px;
@btn-padding-lg: 0 24px;
@btn-font-weight: 700;

// Font
@font-size-base: 14px;
@font-size-lg: @font-size-base + 4px;

// Sider
@layout-sider-background: transparent;

// Function
.transition(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}