@import '../../theme.less';

.Dashboard {
}

.Dashboard-Sider {
  border: 1px solid @color-gray-light;
  border-radius: @border-radius-l;
}

.Dashboard-Content {
  margin-left: 10px;
  margin-top: -10px;
}
