@import '../../theme.less';

.Welcome {
  margin: -25px -50px 0;

  .Welcome-intro {
    padding: 6em 50px;
    position: relative;
    overflow: hidden;

    h1 {
      font-size: 3em;
      font-weight: 700;
      margin-bottom: 0.5em;
    }

    p {
      font-size: 1.2em;
      max-width: 60%;
      margin-bottom: 60px;
    }
  }
  
  .font-color-primary {
    color: @primary-color;
  }

  hgroup {
    position: relative;
    z-index: 1;
  }

  button {
    display: block;
    margin: 20px 0;
    width: 80%;
  }

  .Welcome-news {
    padding: 0 50px;
    text-align: center;
  }
}
