@import '../../theme.less';

.Welcome {
  min-height: 100vh;
  text-align: center;

  hgroup {
    padding-top: 7vh;
    position: relative;

    @media (max-width: @bp-laptop) {
      font-size: 0.8em;
    }

    h1 {
      font-size: 3em;
      margin-bottom: 7vh;
      font-weight: 400;
      position: relative;

      span {
        color: @primary-color;
      }
    }

    p {
      font-size: 1.2em;
      max-width: 60%;
    }

    button {
      margin-right: 50px;
      width: 20%;
      max-width: 240px;
      min-width: 100px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  aside {
    position: relative;
    margin: 12vh auto 0;
    padding-top: 1em;

    section {
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      margin: 0 20px;
      padding: 30px;
    }

    h3 {
      font-weight: 300;
      width: 120px;
    }

    h2 {
      margin-bottom: 0;
      color: @primary-color;
    }
  }
}
