@import '../../theme.less';

.Welcome {
  margin: -25px -50px;

  hgroup {
    position: relative;
    overflow: hidden;
    text-align: center;
    min-height: 100vh;
    padding-top: 20vh;

    @media (max-width: @bp-laptop) {
      font-size: 0.8em;
    }

    h1 {
      font-size: 3em;
      margin-bottom: 7vh;
      font-weight: 400;
      position: relative;

      span {
        color: @primary-color;
      }
    }

    p {
      font-size: 1.2em;
      max-width: 60%;
    }
  }

  button {
    margin: 0 20px;
    width: 20%;
    max-width: 300px;
    min-width: 100px;
  }
}
