@import '../../base/meta.less';

.News {
  .post {
    box-shadow: 3px 3px 20px 0 @color-gray;
    background-color: #fff;
    padding: 20px 30px;
    margin: 30px 0;
    border-radius: 7px;

    &:nth-of-type(1) {
      margin-top: 0;
    }
  }
}