@import '../../base/meta.less';

.Header {
  height: 75px;
  box-shadow: 0 0px 20px 0px @color-gray-dark;
  background-color: #fff;
  opacity: 0.95;
  position: fixed;
  width: 100%;

  h1 {
    margin-left: 15px;
  }

  a {
    height: 75px;
    line-height: 75px;
  }
}